<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="vendor/normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Harmonigraph</title>
  </head>
  <body>
    <div class="container">
      <div class="canvasContainer">
        <canvas></canvas>
      </div>
      <div class="controlContainer">
        <div class="control">
          Harmonograph Type:
          <label>
            Lateral
            <input type="radio" value="lateral" v-model="settings.type" />
          </label>
          <label>
            Rotary
            <input type="radio" value="rotary" v-model="settings.type" />
          </label>
        </div>
        <div class="control">
          Rotary type:
          <label>
            Concurrent
            <input type="radio" value="concurrent" v-model="settings.rotaryType" />
          </label>
          <label>
            Countercurrent
            <input type="radio" value="countercurrent" v-model="settings.rotaryType" />
          </label>
        </div>
        <div class="control">
          <label>
            Lock to Integer
            <input type="checkbox" v-model="settings.integer" />
          </label>
        </div>
        <div class="control">
          <label>
            Lock x/y
            <input type="checkbox" v-model="settings.xyLock" />
          </label>
        </div>
        <div class="control">
          <label>
            X Frequency: {{ settings.xFreq }}
            <input type="range" v-model="settings.xFreq" v-bind:step="settings.integer ? 1 : 0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Y Frequency: {{ settings.yFreq }}
            <input type="range" v-model="settings.yFreq" v-bind:step="settings.integer ? 1 : 0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Z Frequency: {{ settings.zFreq }}
            <input type="range" v-model="settings.zFreq" v-bind:step="settings.integer ? 1 : 0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Invert Rotary Amplitude
            <input type="checkbox" v-model="settings.invert" />
          </label>
        </div>
        <div class="control">
          <label>
            Render Speed: {{ settings.speed }}
            <input type="range" v-model="settings.speed" step="0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Decay: {{ settings.decay }}
            <input type="range" v-model="settings.decay" step="0.01" />
          </label>
        </div>
      </div>
    </div>
    <script src="vendor/vue.min.js"></script>
    <script src="vendor/d3.min.js"></script>
    <script src="harmonograph.js"></script>
    <script src="app.js"></script>
  </body>
</html>
