<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="vendor/normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>Harmonograph</title>
  </head>
  <body>
    <div class="container" v-bind:class="{ dark: settings.darkMode }">
      <div class="canvasContainer">
        <canvas></canvas>
      </div>
      <div class="controlContainer">
        <div class="control">
          Harmonograph Type:
          <div class="radioGroup">
            <label>
              Lateral
              <input type="radio" value="lateral" v-model="settings.type" />
            </label>
            <label>
              Rotary
              <input type="radio" value="rotary" v-model="settings.type" />
            </label>
          </div>
        </div>
        <div class="control">
          Phase Type:
          <div class="radioGroup">
            <label>
              Open
              <input type="radio" value="open" v-model="settings.phase" />
            </label>
            <label>
              Closed
              <input type="radio" value="closed" v-model="settings.phase" />
            </label>
          </div>
        </div>
        <div class="control">
          Rotary type:
          <div class="radioGroup">
            <label>
              Concurrent
              <input type="radio" value="concurrent" v-model="settings.rotaryType" />
            </label>
            <label>
              Countercurrent
              <input type="radio" value="countercurrent" v-model="settings.rotaryType" />
            </label>
          </div>
        </div>
        <div class="control">
          <label>
            Lock to Integer:
            <input type="checkbox" v-model="settings.integerLock" />
          </label>
        </div>
        <div class="control">
          <label>
            Lock x/y:
            <input type="checkbox" v-model="settings.xyLock" />
          </label>
        </div>
        <div class="control">
          <label>
            X Frequency: <input type="number" v-model="settings.xFreq" />
            <input type="range" max="15" v-model="settings.xFreq" v-bind:step="settings.integerLock ? 1 : 0.01" />
          </label>
        </div>
        <div class="control" v-bind:class="{ disabled: settings.xyLock }">
          <label>
            Y Frequency: <input type="number" v-model="settings.yFreq" />
            <input
              type="range"
              max="15"
              v-model="settings.yFreq"
              v-bind:step="settings.integerLock ? 1 : 0.01"
              v-bind:disabled="settings.xyLock"
            />
          </label>
        </div>
        <div class="control" v-bind:class="{ disabled: settings.type === 'lateral' }">
          <label>
            Rotary Frequency: <input type="number" v-model="settings.rotaryFreq" />
            <input
              type="range"
              max="15"
              v-model="settings.rotaryFreq"
              v-bind:step="settings.integerLock ? 1 : 0.01"
              v-bind:disabled="settings.type === 'lateral'"
            />
          </label>
        </div>
        <div class="control" v-bind:class="{ disabled: settings.type === 'lateral' }">
          <label>
            Rotary Amplitude: <input type="number" v-model="settings.rotaryAmp" />
            <input
              type="range"
              max="3"
              v-model="settings.rotaryAmp"
              v-bind:step="settings.integerLock ? 1 : 0.01"
              v-bind:disabled="settings.type === 'lateral'"
            />
          </label>
        </div>
        <div class="control">
          <label>
            Render Speed: <input type="number" v-model="settings.speed" />
            <input type="range" v-model="settings.speed" step="0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Decay: <input type="number" v-model="settings.decay" />
            <input type="range" max="2" v-model="settings.decay" step="0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Fade: <input type="number" v-model="settings.fade" />
            <input type="range" max="2" v-model="settings.fade" step="0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Line Width: <input type="number" v-model="settings.lineWidth" />
            <input type="range" max="3" v-model="settings.lineWidth" step="0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Size: <input type="number" v-model="settings.size" />
            <input type="range" max="2" v-model="settings.size" step="0.01" />
          </label>
        </div>
        <div class="control">
          <label>
            Dark Mode:
            <input type="checkbox" v-model="settings.darkMode" />
          </label>
        </div>
        <button class="button" v-on:click="randomize">Randomize</button>
        <a href="https://www.google.com/search?q=rotary+harmonograph" target="_blank" rel="noopener" class="link">
          What is a rotary harmonograph?
        </a>
      </div>
    </div>
    <script src="vendor/vue.min.js"></script>
    <script src="vendor/d3.min.js"></script>
    <script src="harmonograph.js"></script>
    <script src="presets.js"></script>
    <script src="app.js"></script>
  </body>
</html>
